<div class="container" >
	<h1>Halleruyaへようこそ！</h1>
	<h3>プロジェクト毎にタスクを作成し、ユーザーに割り振ることができます。</h3>
	<div class="box">
		<h5 class="make">作る</h5>
		<div class="contents">
			<span class="contents-title fa fa-users">プロジェクト作成</span>
			<p></p>
    	<p>プロジェクトを作成できます。<br>
    	作成時はプロジェクト名を入力し、プロジェクトリーダーを選択してください。</p>
    	<div class="point">
    		<span class="point-title">行き方</span>
    		<p>ナビバー→プロジェクト→プロジェクト作成</p>
			</div>
		</div>
		<div class="contents">
			<span class="contents-title fa fa-sticky-note-o">タスク作成</span>
    	<p>タスクを作成できます。<br>作成時はタスクの内容を入力してください。<br>あらかじめ誰が行うか決まっている場合は、担当者を選択してください。</p>
    	<div class="point">
    		<span class="point-title">行き方</span>
    		<p>ナビバー→タスク→タスク作成</p>
			</div>
		</div>
	</div>
	<div class="box">
		<h5 class="manage">食べる</h5>
		<div class="contents">
			<span class="contents-title fa fa-users">マイプロジェクト</span>
    	<p>自分が所属しているプロジェクトのタスクや所属メンバーを確認できます。</p>
    	<div class="point">
    		<span class="point-title">行き方</span>
    		<p>ナビバー→プロジェクト→マイプロジェクト</p>
			</div>
		</div>
		<div class="contents">
			<span class="contents-title fa fa-sticky-note-o">マイタスク</span>
    	<p>自分に割り振られたタスクを確認できます。<br>
    		また、タスクの中から本日行うタスクを選択することで、本日のタスクリストを作成できます。<br>
    		本日のタスクリストでは、タスクの進捗に応じた評価とコメントを送ることができ、日報として利用できます。<br>
    		</p>
    	<div class="point">
    		<span class="point-title">行き方</span>
    		<p>ナビバー→プロジェクト→マイタスク</p>
			</div>
		</div>
	</div>
	<div class="box">
		<h5 class="kakuninnsuru">見る</h5>
		<div class="contents">
			<span class="contents-title fa fa-users">プロジェクト一覧</span>
    	<p>すべてのプロジェクトの一覧です。<br>
    	所属するプロジェクトを選択してください。</p>
    	<div class="point">
    		<span class="point-title">行き方</span>
    		<p>ナビバー→プロジェクト→プロジェクト一覧</p>
			</div>
		</div>
		<div class="contents">
			<span class="contents-title fa fa-user-o">マイページ</span>
    	<p>過去1週間分のタスクの進捗結果を確認できます。</p>
    	<div class="point">
    		<span class="point-title">行き方</span>
    		<p>ナビバー→マイページ</p>
			</div>
		</div>
	</div>
</div>