<div class="container">
  <h1 class='mt-3'><%= @project.name%>のユーザー一覧</h1>

    <ul class="users">
     <div class="row">
      <% @users.each do |user| %>
        <div  class="col-md-4">
          <li> <%= user.name%></li>
        </div>
        <div class="col-md-8">
          <%= link_to 'タスク状況', user, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    </ul>
</div>