/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
//  @import "bootstrap-sprockets";

//  @import "layouts/navbar"; 

@import "font-awesome";

body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.full-page {
  width: 100vw;
  height: 100vh;
}


.full-page:after {/*擬似要素をつくる*/
  position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  z-index: -1;
  background: -moz-linear-gradient(top, #3297C9, #6EB7DB 20%, #B2D9ED 60%, #D7EBF6);
  background: -webkit-linear-gradient(top, #3297C9, #6EB7DB 20%, #B2D9ED 60%, #D7EBF6);
  background: linear-gradient(to bottom, #3297C9, #6EB7DB 20%, #B2D9ED 60%, #D7EBF6);
}


時間で変える
.morning {
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 50%, #FFF);
  background: -webkit-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 50%, #FFF);
  background: linear-gradient(to bottom, #007AB7, #8EC7E4 30%, #D7EBF6 50%, #FFF);
}

.noon {
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
  background: -webkit-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
  background: linear-gradient(to bottom, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
}

.afternoon {
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
  background: -webkit-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
  background: linear-gradient(to bottom, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
}

.night {
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
  background: -webkit-linear-gradient(top, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
  background: linear-gradient(to bottom, #007AB7, #8EC7E4 30%, #D7EBF6 60%, #FFF);
}