/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
//  @import "bootstrap-sprockets";

//  @import "layouts/navbar"; 

@import "font-awesome";

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

.full-page {
  width: 100vw;
  height: 100vh;
}


.full-page:after {/*擬似要素をつくる*/
  position: fixed;/*固定配置*/
  top: 0; left: 0;/*左上に固定*/
  width: 100%; height: 100%;/*画面全体を覆う*/
  content: "";
  z-index: -1;
  background: -moz-linear-gradient(top, #3297C9, #6EB7DB 20%, #B2D9ED 60%, #D7EBF6);
  background: -webkit-linear-gradient(top, #3297C9, #6EB7DB 20%, #B2D9ED 60%, #D7EBF6);
  background: linear-gradient(to bottom, #3297C9, #6EB7DB 20%, #B2D9ED 60%, #D7EBF6);
}


.fa-sun-o {
  color: #E88F4B;
}

.fa-cloud{
  color: #9A9BA3;
}

.fa-umbrella{
  color: #415EA6;
}

body {
  font-family: "Poppins", "Noto Sans JP", sans-serif;
  font-weight: bold;
}

body h2 {
  font-weight: inherit;
}



サイドバー
.channel-menu {
  position: fixed;
  top: 0;
  @media screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

.channel-menu_name {
  display: inline-block;
  padding: 0 0.5rem 0 1.5rem;
  color: #555459;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    padding-left: 0;
  }
}
.channel_name .prefix {
  margin-right: 8px;
}

.channel-menu_prefix {
  padding-right: 0.5rem;
  font-weight: 500;
}
.channel-menu_date {
  font-weight: bold;
}
.channel-menu h3 {
  float: right;
  padding-right: 0.1rem;
  font-weight: 500;
}
.listings {
  min-height: 100vh;
  height: 100%;
  width: 220px;
  float: left;
  color: #ab9ba9;
  background-color: #14274430;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  @media screen and (max-width: 600px) {
    display: none;
    position: absolute;
    &.show {
      display: block;
    }
  }
}

.listings_channels {
  margin: 1rem 0 2rem;
}

.listings_header {
  text-align: left;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #142744;
  width: 165px;
  position: relative;
}

.channel_list {
  margin: 0 1rem 0.1rem;
  padding: 0;
  list-style-type: none;
  text-align: left;
  color: #ab9ba9;
}

